div.small_right_column ul.arrows li a.ui-state-active { 
	background: url('/img/arrow_down.png') no-repeat left;
}
div#homepage div.specials a.full_menu {
	background: url('/img/menu_icon.png') no-repeat top left;
}
div#feedback div.press ul li div.date {
	background: url('/img/date_bg.png') no-repeat;
}
div#our_story div#facts ul li {
	background: url("/img/bullet.png") no-repeat 0px 4px;		
}
div#contact_us #hq  ul li.mail  { background: url('/img/mail.png') no-repeat top left; }
div#contact_us #hq ul li.phone  { background: url('/img/phone.png') no-repeat top left; }
div#contact_us #hq ul li.fax    { background: url('/img/fax.png') no-repeat top left; }
div#hours_location .location .details {
	background: url('/img/location_icon.png') no-repeat top left;
}
div#blog a.rss span{
	background: url('/img/rss.png') no-repeat;
}
div#blog .post .date,
div#homepage #slides .nivo-caption p span {
	background: url('/img/date_bg.png') no-repeat;
}
div#error_page div.error_wrap {
	background: url("/img/404_circle.png") no-repeat center;
}
ul.triangles li {
	background: url('/img/arrow_right.png') no-repeat 0px 7px;
}
ul.bullseye li {
	background: url('/img/bullet.png') no-repeat 0px 7px;
}
ul.arrows li {
	background: url('/img/arrow.png') no-repeat 0px 4px;
}
ul.checkmarks li {
	background: url('/img/checkmark.png') no-repeat 0px 5px;
}
blockquote {
	background: url("/img/quote.png") no-repeat top left;		
}
div.pricing_box.active .price{ background: url('/img/price_bg.png') no-repeat	top center; }
div#location div.address {
	background: url('/img/location_icon.png') no-repeat top left;
}
div#items .content h4 span {		
	background: #3d84c6;
}
div#header ul#nav li.active a {
	background: #3d84c6;
}