---
layout: default
title: T W Plastering
menuItemId: contact
---
<div id="contact_us" class="main_content">

			<div class="page_heading">
				<h1>Contact</h1>	
			</div>
			
			<div class="small_left_column">
                            <img src="/img/contact-page-image.jpg"/>
				
       
                            
                            
<!--
                            <h2>Send us a question:</h2>
				
				<div class="notice"></div>

<@formByName 'Contact', ''>

<div class="row">
<p>
	<label>Your Name</label>
	<input type="text" name="Contact.Name" class="text_field" />
</p>
<p>
	<label>Your Email</label>
	<input type="text" name="Contact.Email" class="text_field" />
</p>
</div>
<div class="row">
<p>
	<label>Your Phone Number</label>
	<input type="text" name="Contact.Phone" class="text_field" />
</p>
<p>
	<label>Subject</label>
	<select class="text_field" name="Contact.Subject">
		<option>Select a subject...</option>
		<option>Our services</option>
		<option>Request a free quote</option>
		<option>General inquiry</option>

	</select>
</p>
</div>
<p>
	<label>Message / Question</label>
	<textarea class="text_field" rows="10" cols="10" name="Contact.Message"></textarea>
</p>

<input type="submit" class="button" value="Send Message" />

</@formByName>
 -->

				
			</div><!-- end left column-->
		
			<div id="sidebar" class="large_right_column">
				
				<div id="hq" class="container">
					<h3>Contact  T.W. Plastering</h3>
					<div class="content">
						<ul>
							<li class="mail">
								<b>By E-mail</b>
								<p>
									<a href="mailto:twplastering@live.com.au">twplastering@live.com.au</a>
								</p>						
							</li>
							<li class="phone">
								<b>By Phone</b>
								<p>0438 533 901</p>								
							</li>
						</ul>
					</div>
				</div>



