---
layout: default
title: T W Plastering
menuItemId: faq
---
<div class="main_content">
		
		<div class="page_heading">				
			<h1>FAQs</h1>	
		</div>		

		<h3>Where do you travel to?</h3>
		<p>We travel to most areas within 1 or 2 hours from Melbourne. If you are unsure as to whether we travel to your area, please ask us.</p>
		


		<h3>Which products are available?</h3>
		<p>We offer a wide range of products from a range of reputable suppliers, please find their links attached to the links page to view their products and catalogues.</p>

		<h3>Can you do a free quote?</h3>
		<p>Yes we are happy to do a free quote, call us today.</p>
		
		<h3>Can you give advice on choices of cornices or square set options in my house?</h3>
		<p>Yes we are happy to help you with any questions or areas you are unsure of regarding the plastering and decorating of your house, renovation or extension.</p>

		<h3>Are you available to complete Light Commercial work?</h3>
		<p>Yes we are competent with both Domestic and Light Commercial buildings.</p>

