---
layout: default
title: T W Plastering
menuItemId: gallery
---
<div id="gallery" class="main_content">
	<div class="page_heading">				
		<h1>Gallery</h1>	
	</div>		
		<div id="slideshow_wrap">
			<div id="slideshow">
			<img src="/img/gallery-large_1.jpg" alt="" title="<h2>Cornice</h2>" />
			<img src="/img/gallery-large_3.jpg" alt="" title="<h2>Ceiling Roses</h2>" />
			<img src="/img/gallery-large_2.jpg" alt="" title="<h2>Cornice</h2>" />
			<img src="/img/gallery-large_5.jpg" alt="" title="<h2>Archways</h2>" />
			<img src="/img/gallery-large_4.jpg" alt="" title="<h2>Cornice</h2>" />
			</div>
		</div>

