---
layout: default
title: Home
menuItemId: home
---
<div id="homepage" class="main_content">
	
	<!-- Start Nivo Slider -->
	<div id="slider">
		<div id="slides">					
			<img src="/img/home-slider_1.jpg" alt="" title="Ceiling Roses &amp; Archways" />
			<img src="/img/home-slider_2.jpg" alt="" title="Cornices" />
			<img src="/img/home-slider_3.jpg" alt="" title="Using Our Services" />
			<img src="/img/home-slider_4.jpg" alt="" title="Our Suppliers" />
		</div>
	</div>
	<!-- End Nivo Slider -->
	
	<!-- Start Welcome -->
	<div id="welcome">
		<div class="about">
			<h2>About us:</h2>
			
			<p>We are a Professional family run business committed <br>to excellence, quality and service. We have been in business <br>for 20 years and during that time we have earned our good reputation for professional, prompt service with friendly <br>customer service.</p> 

		</div>
		
		<div class="gallery">
			<ul>
				<li>
					<a href="/gallery" ><img src="/img/home-gallery_1.jpg" alt="" /></a>
					<span>Cornices</span>
				</li>
				<li>
					<a href="/gallery" ><img src="/img/home-gallery_2.jpg" alt="" /></a>
					<span>Archways</span>
				</li>
				<li class="last">
					<a href="/gallery" ><img src="/img/home-gallery_3.jpg" alt="" /></a>
					<span>Ceiling Roses</span>
				</li>
			</ul>
		</div>	

		<div class="shadow"></div>
	</div>
	<!-- End Welcome -->
	
	<!-- Start Details -->
	<div id="details">
	
					<div id="about_us" class="one_third">
		<h2>What we do:</h2>
		<p><b>We can supply and Install professionally <br>and promptly:</b></p>
		<ul class="triangles">
		<li>Plasterboard</li>
		<li> Cornices</li>
		<li> Ceiling Roses</li>
		<li> Archways</li>
		<li> Architectural Columns</li>
		<li> Vents</li>
		<li> Ceiling Grid Systems</li>
		<ul>
		</br>
		</div>	
			


		<div class="one_third">
			
			<h2>Our Suppliers:</h2>
							<p>We use a number of Reputable Plaster supply companies and can offer you a greater range of materials, cornices, roses, archways etc. Please find the links attached for catalogues.</p>

			<p><ul class="arrows">
			
			
				<li><a href="http://www.lafargeplasterboard.com.au" target="_blank">Lafarge Plasta Masta</a></li>
				<li><a href="http://www.gyprock.com.au" target="_blank">Gyprock</a></li>
				<li><a href="http://www.boral.com.au" target="_blank">Boral</a></li>
				<li><a href="http://www.plasterproducts.com.au/pp_cpm_home.htm" target="_blank">Croydon Plaster Mouldings</a></li>
				<li><a href="http://www.pictonhopkins.com.au" target="_blank">Picton Hopkins</a></li>
                <li><a href="http://www.archiclad.com.au" target="_blank">Archiclad Plasterboard and Fibre Cement</a></li>
				
			</ul></p>
			
		
		
			
		</div>
						<div class="one_third column_last">
						
						<h2>Using Our Services:</h2>
			
		<p><ul class="bullseye">
		<li><a href="http://www.hometec.com.au" target="_blank">Hometec Pty Ltd</a></li>
		<li><a href="http://www.harkawayhomes.com.au" target="_blank">Harkaway Homes</a><li>
		<li><a href="http://www.excelcon.com.au" target="_blank">Excelcon</a><li>
		<li><a href="http://www.ritzhomes.com.au" target="_blank">Ritz Homes</a><li>
		<li><a href="http://www.hurtobhomes.com.au" target="_blank">Hurtob Homes</a><li>
		<li><a href="http://www.bluestarliving.com.au" target="_blank">Blue Star Living</a><li>
        <li><a href="http://www.salstruct.com.au" target="_blank">Salerno Homes</a><li>
        <li><a href="http://www.udaya.com.au" target="_blank">Udaya Homes</a><li>
		<li><a href="http://www.customedgehomes.com.au/links" target="_blank">Custom Edge Homes</a><li>
        <li>Harmons Building Group<li>
		<li>FRG Builders Pty Ltd<li>
		<li></a><li>

		</ul></p>
			
			
			
			
		</div>	

	</div>
	<!-- End Details -->
	
	<!-- 	-- Start Feedback --
	<div id="feedback">
		
		-- Start Tweets --
		<div class="tweets">
			<h2>Tweets from Troy</h2>
			<div id="twitter_stream"></div>
			<a href="http://twitter.com/two2twelve" class="follow">Follow Us ?</a>
		</div>
		-- End Tweets --
		
		-- Start Press / Blog Posts --
		<div class="press">
			<h2>Press and Events</h2>
			<ul>
				<li>
					<div class="date">Jul 1st</div>
					<div class="content">
						<h5><a href="blog_item.html">An Example Blog Post</a></h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>	
						<a href="blog_item.html">Read More ?</a>
					</div>
				</li>
				<li class="shadow">
					<div class="date">Jul 2nd</div>
					<div class="content">
						<h5><a href="blog_item.html">Another Example Blog Post</a></h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>	
						<a href="blog_item.html">Read More ?</a>
					</div>
				</li>
				<li>
					<div class="date">Jul 3rd</div>
					<div class="content">
						<h5><a href="blog_item.html">A Third Example Blog Post</a></h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>	
						<a href="blog_item.html">Read More ?</a>
					</div>
				</li>
			</ul>
		</div>
		-- End Press / Blog Posts --
		
	</div>
	-- End Feedback --		
				
</div> -->
