<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
	
    <title>${page.title}</title>
	
	<meta name="Keywords" content="${page.keywords}" />
    <meta name="Description" content="${page.description}" />
    <meta name="Author" content="HelloMedical" />
	<meta name="google-site-verification" content="y3Dg7R7Lnn4kPF1qLJzqLq5OyncP4rw5LZar4-lAZ8A" />
        <script type="text/javascript" src="http://use.typekit.com/ofa1ijw.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        
		   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
		
		<link type="text/css" rel="stylesheet" href="/css/style.css"/>

		            <link type="text/css" rel="stylesheet" href="/css/theme.css"/>

		            <link type="text/css" rel="stylesheet" href="/css/fancybox.css"/>

		            <link type="text/css" rel="stylesheet" href="/css/slider.css"/>



		            <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>

		            <script type="text/javascript" src="/js/jquery.nivo.slider.js"></script>

		            <script type="text/javascript" src="/js/scripts.js"></script>
	
	
    <link href="/img/twfav.png" rel="shortcut icon" />
</head>
<body>
	
	<!-- Start Page Container -->
	<div id="container_wrap">
		
		<!-- Start Header -->
		<div id="header">
			
			<!-- Start Logo -->
			<div class="logo">
			<a href="/"><img src="/img/logo.png"/></a>
			</div>
			<!-- End Logo -->
			
			<!-- Start Navigation -->
			<ul id="nav">
				<li {% if page.menuItemId == 'home' %} class="active" {% endif %}><a href="/">Home</a></li>

				<li < {% if page.menuItemId == 'gallery' %} class="active" {% endif %}><a href="/gallery">Image Gallery</a></li>

				<li < {% if page.menuItemId == 'faq' %} class="active" {% endif %}><a href="/faq">FAQs</a></li>

				<li < {% if page.menuItemId == 'links' %} class="active" {% endif %}><a href="/links">Links</a></li>

				<li < {% if page.menuItemId == 'contact' %} class="active" {% endif %}><a href="/contact">Contact</a>	</li>			
			
		</ul>	
			<!-- End Navigation -->

		</div>
		
		<!-- Start Page Content -->
		<div>
			{{content}}		
		</div>
		<!-- End Page Content -->
		
		
	</div>
	<!-- End Page Container -->

		<!-- Start Footer --> 
		<div id="footer"> 
				<div class="left"> 
					<p>Copyright &copy; T.W. Plastering 2011.<br>Website by <a href="http://hellomedical.com" target="_blank">HelloMedical</a></p>				
				</div> 
				
				<div class="right"> 
				
			<a href="/"><img src="/img/logo2.png" alt="" /></a>
					<!-- <ul>
						<li class="facebook"><a href="https://www.facebook.com" target="_blank">Facebook</a></li>
						<li class="twitter"><a href="http://twitter.com" target="_blank">Twitter</a></li>
					</ul> -->
								</div> 
		</div> 
		<!-- End Footer --> 
		

	<!-- End Page Container --> 
	
</body>			
</html>